# Calcul des données nécessaires aux KPI

In [73]:
import pandas as pd
import numpy as np
import os
import datetime
os.chdir("")

## Indication du fichier que l'on va utiliser

In [74]:
file_origine='BA_P_donnees_preparees.csv'

## Lecture du fichier et intégration dans des Dataframes

In [75]:
#Lecture du fichier origine et mise dans un dataframe
df_origine=pd.read_csv(file_origine,delimiter=';', low_memory=False, encoding='latin-1')
#Affichage des 10 premières lignes du dataframe
df_origine.head(10)

,FR1_FECHA,FR1_LINEA,FR1_TIPO,FR1_REGIST,FR1_ORDEN,FR1_TREN,FR1_CAUC1,FR1_CAUC2,FR1_COCC1,FR1_COCC2,...,SAISON,PERIODO,LINEA,TREN,SAL_C1,SAL_C2,INT_C1,INT_C2,FORM,OBSERVACIONES
0,2015-01-01,P,F,1,1,1,V,,1,0,...,VERANO,2015,P,1.0,SALIDA ADELANTADA,SALIDA ADELANTADA,NaN,NaN,1.0,NaN
1,2015-01-01,P,F,2,2,1,V,,1,0,...,VERANO,2015,P,1.0,08:00:00,SALIDA ADELANTADA,NaN,NaN,1.0,NaN
2,2015-01-01,P,F,3,3,2,V,,1,0,...,VERANO,2015,P,2.0,08:09:40,09:40:00,00:09:40,NaN,1.0,NaN
3,2015-01-01,P,F,4,4,3,V,,1,0,...,VERANO,2015,P,3.0,08:19:20,09:40:00,00:09:40,NaN,1.0,NaN
4,2015-01-01,P,F,5,5,4,V,,1,0,...,VERANO,2015,P,4.0,08:29:00,09:40:00,00:09:40,NaN,1.0,NaN
5,2015-01-01,P,F,6,6,5,V,,1,0,...,VERANO,2015,P,5.0,08:38:40,09:40:00,00:09:40,NaN,1.0,NaN
6,2015-01-01,P,F,7,7,6,V,,1,0,...,VERANO,2015,P,6.0,08:48:20,09:40:00,00:09:40,NaN,1.0,NaN
7,2015-01-01,P,F,8,8,1,V,,1,0,...,VERANO,2015,P,1.0,08:58:00,09:40:00,00:09:40,NaN,1.0,NaN
8,2015-01-01,P,F,9,9,2,,,1,0,...,VERANO,2015,P,2.0,09:07:40,09:40:00,00:09:40,NaN,1.0,NaN
9,2015-01-01,P,F,10,10,3,V,,1,0,...,VERANO,2015,P,3.0,09:17:20,09:40:00,00:09:40,NaN,1.0,NaN

## Modification du type des colonnes contenant des dates / heures

In [76]:
#Convertion de la colonne au format date
df_origine['FR1_FECHA'] = pd.to_datetime(df_origine['FR1_FECHA'])

#Convertion de la colonne au format forcée de HH:MM:SS
df_origine['FR1_SALC1'] = pd.to_datetime(df_origine['FR1_SALC1'],format="%H:%M:%S",errors='ignore')
df_origine['FR1_SALC2'] = pd.to_datetime(df_origine['FR1_SALC2'],format="%H:%M:%S",errors='ignore')

#Convertion de la colonne au format forcée de HH:MM:SS
df_origine['SAL_C1'] = pd.to_datetime(df_origine['SAL_C1'],format="%H:%M:%S",errors='ignore')
df_origine['SAL_C2'] = pd.to_datetime(df_origine['SAL_C2'],format="%H:%M:%S",errors='ignore')

#Remplacement des NaN par 00:00:01
df_origine['INT_C1'] = df_origine['INT_C1'].fillna('00:00:01')
df_origine['INT_C2'] = df_origine['INT_C2'].fillna('00:00:01')

#Convertion de la colonne au format string
#df_origine['INT_C1'] = df_origine['INT_C1'].apply(str)
#df_origine['INT_C2'] = df_origine['INT_C2'].apply(str)

#Récupération des 5 premiers caractères
#df_origine['INT_C1'] = np.where(df_origine['PERIODO']!=2017, df_origine['INT_C1'].apply(lambda x: x[0:5]).apply(str),df_origine['INT_C1'].apply(str))
#df_origine['INT_C2'] = np.where(df_origine['PERIODO']!=2017, df_origine['INT_C2'].apply(lambda x: x[0:5]).apply(str),df_origine['INT_C2'].apply(str))

#On rajoute 00: à chaqu fois
#df_origine['INT_C1'] = np.where(df_origine['PERIODO']!=2017,"00:" + df_origine['INT_C1'].apply(str),df_origine['INT_C1'].apply(str))
#df_origine['INT_C2'] = np.where(df_origine['PERIODO']!=2017,"00:" + df_origine['INT_C2'].apply(str),df_origine['INT_C2'].apply(str))

#On transforme au format interval de temps
df_origine['INT_C1'] = pd.to_timedelta(df_origine['INT_C1'])
df_origine['INT_C2'] = pd.to_timedelta(df_origine['INT_C2'])

df_origine.head(10)

,FR1_FECHA,FR1_LINEA,FR1_TIPO,FR1_REGIST,FR1_ORDEN,FR1_TREN,FR1_CAUC1,FR1_CAUC2,FR1_COCC1,FR1_COCC2,...,SAISON,PERIODO,LINEA,TREN,SAL_C1,SAL_C2,INT_C1,INT_C2,FORM,OBSERVACIONES
0,2015-01-01,P,F,1,1,1,V,,1,0,...,VERANO,2015,P,1.0,SALIDA ADELANTADA,SALIDA ADELANTADA,00:00:01,00:00:01,1.0,NaN
1,2015-01-01,P,F,2,2,1,V,,1,0,...,VERANO,2015,P,1.0,08:00:00,SALIDA ADELANTADA,00:00:01,00:00:01,1.0,NaN
2,2015-01-01,P,F,3,3,2,V,,1,0,...,VERANO,2015,P,2.0,08:09:40,09:40:00,00:09:40,00:00:01,1.0,NaN
3,2015-01-01,P,F,4,4,3,V,,1,0,...,VERANO,2015,P,3.0,08:19:20,09:40:00,00:09:40,00:00:01,1.0,NaN
4,2015-01-01,P,F,5,5,4,V,,1,0,...,VERANO,2015,P,4.0,08:29:00,09:40:00,00:09:40,00:00:01,1.0,NaN
5,2015-01-01,P,F,6,6,5,V,,1,0,...,VERANO,2015,P,5.0,08:38:40,09:40:00,00:09:40,00:00:01,1.0,NaN
6,2015-01-01,P,F,7,7,6,V,,1,0,...,VERANO,2015,P,6.0,08:48:20,09:40:00,00:09:40,00:00:01,1.0,NaN
7,2015-01-01,P,F,8,8,1,V,,1,0,...,VERANO,2015,P,1.0,08:58:00,09:40:00,00:09:40,00:00:01,1.0,NaN
8,2015-01-01,P,F,9,9,2,,,1,0,...,VERANO,2015,P,2.0,09:07:40,09:40:00,00:09:40,00:00:01,1.0,NaN
9,2015-01-01,P,F,10,10,3,V,,1,0,...,VERANO,2015,P,3.0,09:17:20,09:40:00,00:09:40,00:00:01,1.0,NaN

## On filtre les lignes où les départs n'ont pas été effectués (C1)

In [77]:
df_origine.index.name='NUM'

#On récupère seulement les lignes où les départs ont été effectués
df_filtered = df_origine.mask(lambda x: x['FR1_VIAC1'] == "N")

#Les lignes qui n'ont pas été récupéré sont en NaN donc on supprime ces lignes
df_filtered.dropna(subset=['FR1_VIAC1'], inplace=True)
df_filtered.head(10)

,FR1_FECHA,FR1_LINEA,FR1_TIPO,FR1_REGIST,FR1_ORDEN,FR1_TREN,FR1_CAUC1,FR1_CAUC2,FR1_COCC1,FR1_COCC2,...,SAISON,PERIODO,LINEA,TREN,SAL_C1,SAL_C2,INT_C1,INT_C2,FORM,OBSERVACIONES
NUM,,,,,,,,,,,,,,,,,,,,,
8,2015-01-01,P,F,9.0,9.0,2.0,,,1.0,0.0,...,VERANO,2015.0,P,2.0,09:07:40,09:40:00,00:09:40,00:00:01,1.0,NaN
11,2015-01-01,P,F,12.0,12.0,5.0,,,1.0,0.0,...,VERANO,2015.0,P,5.0,09:36:40,09:40:00,00:09:40,00:00:01,1.0,NaN
14,2015-01-01,P,F,15.0,15.0,2.0,,,1.0,0.0,...,VERANO,2015.0,P,2.0,10:05:40,09:40:00,00:09:40,00:00:01,1.0,NaN
27,2015-01-01,P,F,28.0,28.0,3.0,,,1.0,0.0,...,VERANO,2015.0,P,3.0,12:11:20,09:40:00,00:09:40,00:00:01,1.0,NaN
30,2015-01-01,P,F,31.0,31.0,6.0,,,1.0,0.0,...,VERANO,2015.0,P,6.0,12:40:20,09:40:00,00:09:40,00:00:01,1.0,NaN
33,2015-01-01,P,F,34.0,34.0,3.0,,,1.0,0.0,...,VERANO,2015.0,P,3.0,13:09:20,09:40:00,00:09:40,00:00:01,1.0,NaN
34,2015-01-01,P,F,35.0,35.0,4.0,,,1.0,0.0,...,VERANO,2015.0,P,4.0,13:19:00,09:40:00,00:09:40,00:00:01,1.0,NaN
35,2015-01-01,P,F,36.0,36.0,5.0,,,1.0,0.0,...,VERANO,2015.0,P,5.0,13:28:40,09:40:00,00:09:40,00:00:01,1.0,NaN
36,2015-01-01,P,F,37.0,37.0,6.0,,,1.0,0.0,...,VERANO,2015.0,P,6.0,13:38:20,09:40:00,00:09:40,00:00:01,1.0,NaN
39,2015-01-01,P,F,40.0,40.0,3.0,,,1.0,0.0,...,VERANO,2015.0,P,3.0,14:07:20,09:40:00,00:09:40,00:00:01,1.0,NaN

## On calcul l'interval réel (C1)

In [78]:


#Calcul de l'intervalle de la colonne FR1_SALC1
df_filtered['I_REELC1']=df_filtered['FR1_SALC1']-df_filtered['FR1_SALC1'].shift(1)

#Conversion de colonne d'intervalle en timedelta
df_filtered['I_REELC1'] = pd.to_timedelta(df_filtered['I_REELC1'])

#si un timedelta est négatif alors on mets la valeur à 0
df_filtered['I_REELC1']=np.where(df_filtered['I_REELC1'] < datetime.timedelta(0), 0, df_filtered['I_REELC1'])

df_filtered['I_REELC1']=np.where(df_filtered['FR1_REGIST']<df_filtered['FR1_REGIST'].shift(1),0,df_filtered['I_REELC1'])

df_filtered.head(10)

,FR1_FECHA,FR1_LINEA,FR1_TIPO,FR1_REGIST,FR1_ORDEN,FR1_TREN,FR1_CAUC1,FR1_CAUC2,FR1_COCC1,FR1_COCC2,...,PERIODO,LINEA,TREN,SAL_C1,SAL_C2,INT_C1,INT_C2,FORM,OBSERVACIONES,I_REELC1
NUM,,,,,,,,,,,,,,,,,,,,,
8,2015-01-01,P,F,9.0,9.0,2.0,,,1.0,0.0,...,2015.0,P,2.0,09:07:40,09:40:00,00:09:40,00:00:01,1.0,NaN,NaT
11,2015-01-01,P,F,12.0,12.0,5.0,,,1.0,0.0,...,2015.0,P,5.0,09:36:40,09:40:00,00:09:40,00:00:01,1.0,NaN,00:31:00
14,2015-01-01,P,F,15.0,15.0,2.0,,,1.0,0.0,...,2015.0,P,2.0,10:05:40,09:40:00,00:09:40,00:00:01,1.0,NaN,00:24:00
27,2015-01-01,P,F,28.0,28.0,3.0,,,1.0,0.0,...,2015.0,P,3.0,12:11:20,09:40:00,00:09:40,00:00:01,1.0,NaN,02:10:40
30,2015-01-01,P,F,31.0,31.0,6.0,,,1.0,0.0,...,2015.0,P,6.0,12:40:20,09:40:00,00:09:40,00:00:01,1.0,NaN,00:29:00
33,2015-01-01,P,F,34.0,34.0,3.0,,,1.0,0.0,...,2015.0,P,3.0,13:09:20,09:40:00,00:09:40,00:00:01,1.0,NaN,00:29:00
34,2015-01-01,P,F,35.0,35.0,4.0,,,1.0,0.0,...,2015.0,P,4.0,13:19:00,09:40:00,00:09:40,00:00:01,1.0,NaN,00:09:40
35,2015-01-01,P,F,36.0,36.0,5.0,,,1.0,0.0,...,2015.0,P,5.0,13:28:40,09:40:00,00:09:40,00:00:01,1.0,NaN,00:09:40
36,2015-01-01,P,F,37.0,37.0,6.0,,,1.0,0.0,...,2015.0,P,6.0,13:38:20,09:40:00,00:09:40,00:00:01,1.0,NaN,00:11:40
39,2015-01-01,P,F,40.0,40.0,3.0,,,1.0,0.0,...,2015.0,P,3.0,14:07:20,09:40:00,00:09:40,00:00:01,1.0,NaN,00:27:00

## On filtre les lignes où les départs n'ont pas été effectués (C2)

In [79]:
#On récupère seulement les lignes où les départs ont été effectués
df_filtered_2 = df_origine.mask(lambda x: x['FR1_VIAC2'] == "N")

#Les lignes qui n'ont pas été récupéré sont en NaN donc on supprime ces lignes
df_filtered_2.dropna(subset=['FR1_VIAC2'], inplace=True)
df_filtered_2.head(10)

Empty DataFrame
Columns: [FR1_FECHA, FR1_LINEA, FR1_TIPO, FR1_REGIST, FR1_ORDEN, FR1_TREN, FR1_CAUC1, FR1_CAUC2, FR1_COCC1, FR1_COCC2, FR1_KM, FR1_KMV, FR1_VIAC1, FR1_VIAC2, FR1_SALC1, FR1_SALC2, FR1_SCAUC2, FR1_SCAUC1, TIPO_DIA, SAISON, PERIODO, LINEA, TREN, SAL_C1, SAL_C2, INT_C1, INT_C2, FORM, OBSERVACIONES]
Index: []

[0 rows x 29 columns]

## On calcul l'interval réel (C2)

In [80]:
#Calcul de l'intervalle de la colonne FR1_SALC2
df_filtered_2['I_REELC2']=df_filtered_2['FR1_SALC2']-df_filtered_2['FR1_SALC2'].shift(1)

#Conversion de colonne d'intervalle en timedelta
df_filtered_2['I_REELC2'] = pd.to_timedelta(df_filtered_2['I_REELC2'])

#si un timedelta est négatif alors on mets la valeur à 0
df_filtered_2['I_REELC2']=np.where(df_filtered_2['I_REELC2'] < datetime.timedelta(0), 0, df_filtered_2['I_REELC2'])

df_filtered_2['I_REELC2']=np.where(df_filtered_2['FR1_REGIST']<df_filtered_2['FR1_REGIST'].shift(1),0,df_filtered_2['I_REELC2'])

df_filtered_2.head(10)

Empty DataFrame
Columns: [FR1_FECHA, FR1_LINEA, FR1_TIPO, FR1_REGIST, FR1_ORDEN, FR1_TREN, FR1_CAUC1, FR1_CAUC2, FR1_COCC1, FR1_COCC2, FR1_KM, FR1_KMV, FR1_VIAC1, FR1_VIAC2, FR1_SALC1, FR1_SALC2, FR1_SCAUC2, FR1_SCAUC1, TIPO_DIA, SAISON, PERIODO, LINEA, TREN, SAL_C1, SAL_C2, INT_C1, INT_C2, FORM, OBSERVACIONES, I_REELC2]
Index: []

[0 rows x 30 columns]

## On rassemble les intervalles réels calculés en face des bonnes lignes

In [81]:
df_test =df_filtered['I_REELC1']

df_final = pd.concat([df_origine, df_test], axis=1, ignore_index=False)

df_test =df_filtered_2['I_REELC2']

df_final = pd.concat([df_final, df_test], axis=1, ignore_index=False)

df_final.head(10)
df_final.dtypes

FR1_FECHA         datetime64[ns]
FR1_LINEA                 object
FR1_TIPO                  object
FR1_REGIST                 int64
FR1_ORDEN                  int64
FR1_TREN                   int64
FR1_CAUC1                 object
FR1_CAUC2                 object
FR1_COCC1                  int64
FR1_COCC2                  int64
FR1_KM                    object
FR1_KMV                    int64
FR1_VIAC1                 object
FR1_VIAC2                 object
FR1_SALC1         datetime64[ns]
FR1_SALC2         datetime64[ns]
FR1_SCAUC2                object
FR1_SCAUC1                object
TIPO_DIA                  object
SAISON                    object
PERIODO                    int64
LINEA                     object
TREN                     float64
SAL_C1                    object
SAL_C2                    object
INT_C1           timedelta64[ns]
INT_C2           timedelta64[ns]
FORM                     float64
OBSERVACIONES             object
I_REELC1         timedelta64[ns]
I_REELC2         timedelta64[ns]
dtype: object

## Calcul des KPI C1

In [82]:
df_final['Interrup_C1'] = np.where(np.logical_and(df_final['I_REELC1']>(df_final['INT_C1']+df_final['INT_C1'].shift(1)+datetime.timedelta(minutes=2)),df_final['INT_C1']!=datetime.timedelta(seconds=1)),df_final['I_REELC1']-df_final['INT_C1']-df_final['INT_C1'].shift(1)-datetime.timedelta(minutes=2),0)

df_final['Interval_Exc_C1'] = np.where(np.logical_and(df_final['INT_C1']!=datetime.timedelta(seconds=1), df_final['I_REELC1']>df_final['INT_C1']*1.5),1,0)

df_final['Desp_HP_C1_AM'] = np.where(np.logical_and(df_final['TIPO_DIA']=="HABIL",np.logical_and(df_final['FR1_SALC1']>=datetime.datetime(1900,1,1,8,0,0),df_final['FR1_SALC1']<datetime.datetime(1900,1,1,10,0,0))),1,0)
                                  
df_final['Desp_HP_C1_PM'] = np.where(np.logical_and(df_final['TIPO_DIA']=="HABIL",np.logical_and(df_final['FR1_SALC1']>=datetime.datetime(1900,1,1,18,0,0),df_final['FR1_SALC1']<datetime.datetime(1900,1,1,20,0,0))),1,0)

df_final['Desp_HV_C1'] = np.where(np.logical_and(df_final['TIPO_DIA']=="HABIL",np.logical_and(df_final['FR1_SALC1']>=datetime.datetime(1900,1,1,8,0,0),df_final['FR1_SALC1']<datetime.datetime(1900,1,1,10,0,0))),0,
                                  np.where(np.logical_and(df_final['TIPO_DIA']=="HABIL",np.logical_and(df_final['FR1_SALC1']>=datetime.datetime(1900,1,1,18,0,0),df_final['FR1_SALC1']<datetime.datetime(1900,1,1,20,0,0))),0,1))

df_final.head(10)

,FR1_FECHA,FR1_LINEA,FR1_TIPO,FR1_REGIST,FR1_ORDEN,FR1_TREN,FR1_CAUC1,FR1_CAUC2,FR1_COCC1,FR1_COCC2,...,INT_C2,FORM,OBSERVACIONES,I_REELC1,I_REELC2,Interrup_C1,Interval_Exc_C1,Desp_HP_C1_AM,Desp_HP_C1_PM,Desp_HV_C1
NUM,,,,,,,,,,,,,,,,,,,,,
0,2015-01-01,P,F,1,1,1,V,,1,0,...,00:00:01,1.0,NaN,NaT,NaT,0 days,0,0,0,1
1,2015-01-01,P,F,2,2,1,V,,1,0,...,00:00:01,1.0,NaN,NaT,NaT,0 days,0,0,0,1
2,2015-01-01,P,F,3,3,2,V,,1,0,...,00:00:01,1.0,NaN,NaT,NaT,0 days,0,0,0,1
3,2015-01-01,P,F,4,4,3,V,,1,0,...,00:00:01,1.0,NaN,NaT,NaT,0 days,0,0,0,1
4,2015-01-01,P,F,5,5,4,V,,1,0,...,00:00:01,1.0,NaN,NaT,NaT,0 days,0,0,0,1
5,2015-01-01,P,F,6,6,5,V,,1,0,...,00:00:01,1.0,NaN,NaT,NaT,0 days,0,0,0,1
6,2015-01-01,P,F,7,7,6,V,,1,0,...,00:00:01,1.0,NaN,NaT,NaT,0 days,0,0,0,1
7,2015-01-01,P,F,8,8,1,V,,1,0,...,00:00:01,1.0,NaN,NaT,NaT,0 days,0,0,0,1
8,2015-01-01,P,F,9,9,2,,,1,0,...,00:00:01,1.0,NaN,NaT,NaT,0 days,0,0,0,1
9,2015-01-01,P,F,10,10,3,V,,1,0,...,00:00:01,1.0,NaN,NaT,NaT,0 days,0,0,0,1

## Calcul des KPI C2

In [83]:
df_final['Interrup_C2'] = np.where(np.logical_and(df_final['I_REELC2']>(df_final['INT_C2']+df_final['INT_C2'].shift(1)+datetime.timedelta(minutes=2)),df_final['INT_C2']!=datetime.timedelta(seconds=1)),df_final['I_REELC2']-df_final['INT_C2']-df_final['INT_C2'].shift(1)-datetime.timedelta(minutes=2),0)

df_final['Interval_Exc_C2'] = np.where(np.logical_and(df_final['INT_C2']!=datetime.timedelta(seconds=1),df_final['I_REELC2']>df_final['INT_C2']*1.5),1,0)

df_final['Desp_HP_C2_AM'] = np.where(np.logical_and(df_final['TIPO_DIA']=="HABIL",np.logical_and(df_final['FR1_SALC2']>=datetime.datetime(1900,1,1,8,0,0),df_final['FR1_SALC2']<datetime.datetime(1900,1,1,10,0,0))),1,0)

df_final['Desp_HP_C2_PM'] = np.where(np.logical_and(df_final['TIPO_DIA']=="HABIL",np.logical_and(df_final['FR1_SALC2']>=datetime.datetime(1900,1,1,18,0,0),df_final['FR1_SALC2']<datetime.datetime(1900,1,1,20,0,0))),1,0)

df_final['Desp_HV_C2'] = np.where(np.logical_and(df_final['TIPO_DIA']=="HABIL",np.logical_and(df_final['FR1_SALC2']>=datetime.datetime(1900,1,1,8,0,0),df_final['FR1_SALC2']<datetime.datetime(1900,1,1,10,0,0))),0,
                                  np.where(np.logical_and(df_final['TIPO_DIA']=="HABIL",np.logical_and(df_final['FR1_SALC2']>=datetime.datetime(1900,1,1,18,0,0),df_final['FR1_SALC2']<datetime.datetime(1900,1,1,20,0,0))),0,1))

df_final.head(10)

,FR1_FECHA,FR1_LINEA,FR1_TIPO,FR1_REGIST,FR1_ORDEN,FR1_TREN,FR1_CAUC1,FR1_CAUC2,FR1_COCC1,FR1_COCC2,...,Interrup_C1,Interval_Exc_C1,Desp_HP_C1_AM,Desp_HP_C1_PM,Desp_HV_C1,Interrup_C2,Interval_Exc_C2,Desp_HP_C2_AM,Desp_HP_C2_PM,Desp_HV_C2
NUM,,,,,,,,,,,,,,,,,,,,,
0,2015-01-01,P,F,1,1,1,V,,1,0,...,0 days,0,0,0,1,0 days,0,0,0,1
1,2015-01-01,P,F,2,2,1,V,,1,0,...,0 days,0,0,0,1,0 days,0,0,0,1
2,2015-01-01,P,F,3,3,2,V,,1,0,...,0 days,0,0,0,1,0 days,0,0,0,1
3,2015-01-01,P,F,4,4,3,V,,1,0,...,0 days,0,0,0,1,0 days,0,0,0,1
4,2015-01-01,P,F,5,5,4,V,,1,0,...,0 days,0,0,0,1,0 days,0,0,0,1
5,2015-01-01,P,F,6,6,5,V,,1,0,...,0 days,0,0,0,1,0 days,0,0,0,1
6,2015-01-01,P,F,7,7,6,V,,1,0,...,0 days,0,0,0,1,0 days,0,0,0,1
7,2015-01-01,P,F,8,8,1,V,,1,0,...,0 days,0,0,0,1,0 days,0,0,0,1
8,2015-01-01,P,F,9,9,2,,,1,0,...,0 days,0,0,0,1,0 days,0,0,0,1
9,2015-01-01,P,F,10,10,3,V,,1,0,...,0 days,0,0,0,1,0 days,0,0,0,1

## Export des données sous CSV

In [84]:
export_tot='BA_' + df_origine.iloc[1,1] + '_DP_TEST.csv'
print(export_tot)
df_final.to_csv(export_tot,sep=';',index=True)

BA_P_DP_TEST.csv